/build
/dist
/doc
/img
/nbproject
/node_modules
/var
/vendor

/wp*
!/wp-content

/wp-content/*
!/wp-content/themes
!/wp-content/mu-plugins
!/wp-content/plugins

/wp-content/themes/*
!/wp-content/themes/vuetheme
!/wp-content/themes/mytheme

/wp-content/plugins/*
!/wp-content/plugins/list.info
!/wp-content/plugins/myplug
!/wp-content/plugins/boiler