<?xml version="1.0" encoding="UTF-8"?>
<!-- phpunit.xml -->

<!--phpunit bootstrap="tests/bootstrap.php" 
    convertErrorsToExceptions="false"
    convertNoticesToExceptions="false"
    convertWarningsToExceptions="false">
   
        
        <php>
        <env name="BOOTSTRAP_CLEAR_CACHE_ENV" value="test" />
    </php>
</phpunit-->
<phpunit 
    bootstrap="../config/bootstrap.php">
  <testsuites>
    <testsuite name="Application">
      <directory>../tests</directory>
    </testsuite>
  </testsuites>
  
  
  
    <logging>
        <log type="junit" target="../var/logphpunit.xml" />
    </logging>
    
    
</phpunit>

    
